@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: black;
}

::selection {
  color: red;
  background: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

/* nav{
  position: fixed;
} */

.menu-container {
  /* max-width: 1050px; */
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;

  /* box-shadow: 0 2px rgb(146 161 176 / 15%); */
  /* background-color:rgba(255, 40, 40, 0.7); */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
  /* border: 1px solid black; */
  width: 100%;
  display: block;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
  color: rgb(255, 0, 0);
  /* background-color:rgba(255, 0, 0, 0.6); */
}

.nav-container {
  display: block;
  position: fixed;
  /* box-shadow: 0 2px rgb(146 161 176/30%); */
  background-color: rgba(0, 0, 0, 0.5);
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  margin-top: 60px;
  padding: 20px 0 20px 0;
  /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
  /* box-shadow: 2px 0 rgb(146 161 176/30%); */
  /* height: 100vh; */
  height: 400px;
  width: 20%;
  min-width: 350px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 0px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 45px 0;


}

.navbar .menu-items li {
  /* margin-bottom: 1.2rem; */
  font-size: 1.5rem;
  font-weight: 500;

}

.logo {
  position: absolute;
  top: 8px;
  right: 25px;
  font-size: 1.2rem;
  color: white;
}


.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
  background-color: red;
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);

}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
  background-color: red;
}

.nav-container input[type="checkbox"]:checked~.logo {
  color: red;
}

/*image backgrond animation*/
.Slider {
  z-index: -1;
  color: white;
  font-family: arial, san-serif;
  width: 100%;
  height: 500px;
  position: relative;

}

.Slider-content {
  z-index: -2;
  /* font-size: 48px; */
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 2;
}

.Slider-content-inner {
  transition: opacity 500ms ease-in-out;
  opacity: 1;
}

.Slider-slide {
  z-index: -2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 0 0 25% 25%;*/
}

.show {
  opacity: 1;
}

#title {
  font-size: 40px;
  font-weight: bolder;

}

#subtitle {
  font-size: 25px;
}

.overview {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 10px 5% 30px 5%;
  position: relative;
  display: flex;
  flex-flow: column;
  z-index: -1;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  transition: opacity 500ms ease-in-out;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%;
}

.first-row {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.about {
  /* box-shadow: 0 1.5px rgb(146 161 176/30%); */
  padding: 0 5% 50px 5%;

  /* margin-bottom: 20px; */
}



.overlay-gradient {
  background-image: linear-gradient(90deg, black 20%, transparent);
  background-position: 100%;
  width: 0%;
  height: 100%;
  position: absolute;
  left: -5px;
  transition: width 500ms ease-out;

}

.overview-container {
  border-radius: 5rem 5rem 0 0;
  padding: 0 5% 7rem 5%;
  max-height: 0;
  max-width: 550px;
  border-top: transparent solid 3px;
  /* margin: 0 10px 0 10px; */

  /* transition: height 1s ease-in-out; */
}

/* .weight-loss {
  /* background-color:rgb(224, 1, 1); */

/* background-image: linear-gradient(180deg, rgb(255, 0, 0), transparent 70%); */
/* box-shadow: 0 1.5px rgb(146 161 176/30%); */

/* border: red solid 2px; */

/* border-right: red solid 3px;
  border-left: red solid 3px; */
/* width: 0px; */




#weight-loss-title {
  position: relative;
  top: -30px;
  background-color: rgb(224, 1, 1);
  width: 200px;
  margin: auto;
  border-radius: 25px;
  /* color:red; */
  padding: 5px 10px 5px 10px;
  /* border: red solid 2px; */
}



.training {
  /* background-color:white; */
  /* border-radius: 5rem 5rem 0 0; */
  /* box-shadow: 0 1.5px rgb(146 161 176/30%); */
  /* padding: 0 5% 50px 5%;  */
  /* border-top: white solid 3px; */
  /* border-right: white solid 3px;
  border-left: white solid 3px; */
  padding-bottom: 8rem;
  position: relative;
  /* top: -4rem; */

}

#training-title {
  color: black;
  position: relative;
  top: -30px;
  background-color: white;
  width: 200px;
  margin: auto;
  border-radius: 25px;
  /* color:red; */
  padding: 5px 10px 5px 10px;
}

.misconceptions {
  /* border-top: yellow solid 3px; */
  /* border-right: yellow solid 3px;
  border-left: yellow solid 3px; */
  position: relative;
  /* top: -8rem; */
}

#misconceptions-title {
  color: black;
  position: relative;
  top: -50px;
  background-color: yellow;
  width: 300px;
  margin: auto;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

.overview-text {
  opacity: 0;
}

.apps {
  /* border-top: rgb(29, 106, 207) solid 3px; */
  /* border-right: rgb(29, 106, 207) solid 3px;
  border-left: rgb(29, 106, 207) solid 3px; */
  position: relative;
  /* top: -11.8rem; */
  max-width: 100%;
}

#apps-title {
  color: white;
  position: relative;
  top: -30px;
  background-color: rgb(29, 106, 207);
  width: 150px;
  margin: auto;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}


.animate-height {
  max-height: 0;
  animation: heightAnimation 1s ease-out forwards;
}

@keyframes heightAnimation {
  from {
    max-height: 0;

  }

  to {
    max-height: 100rem;

  }
}

.animate-text-opacity {
  animation: opacityAnimation 1s ease-out 1s forwards;
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* .weight-loss .overview-text {
  background-image: linear-gradient(120deg, transparent 45%, rgb(224, 1, 1), transparent 55%);
  animation: gradientAnimation 1s linear 5s infinite forwards;
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: left center;
}

@keyframes gradientAnimation {
  from {background-position: -100rem; opacity: 1;}
  to {background-position: 100rem; opacity: 1;}
} */

.apps-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
  /* border: #ff0000 solid 3px; */
}

.apps-container * {
  max-width: 400px;
  margin: 5px 10px 5px 10px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.fit-apps {
  opacity: 0;
}

.bottom_border {
  border-bottom: 1px solid #ff0000;

  margin: 0 5% 30px 5%;
}

.subscribers {
  max-height: 500px;
  background-color: rgba(255, 0, 0, 0.8);
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -80px;
  padding: 10px 8px 20px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: red solid 2px;
  text-align: center;
}

.choose {
  border-bottom: rgb(148, 1, 1) solid 2px;
  font-size: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.choose p:hover {
  cursor: pointer;
}

.choose p:first-child {
  border-bottom: red solid 3px;
  margin-bottom: -1.5px;
  padding-right: 10px;
  font-size: 25px;
}

input {
  margin: 10px 0 0 0;
  border: rgb(148, 1, 1) solid 2px;
  border-radius: 10px;
  height: 30px;
  width: 85%;
  font-size: 15px;
  background-color: none;
  padding-left: 5px;
}

#subscribe {
  background-color: red;
  font-size: 20px;
  width: 120px;
  display: none;
  margin: 15px auto auto auto;
}

#subscribe:hover {
  background-color: rgb(212, 0, 0);
  cursor: pointer;
}

#package {
  background-color: red;
  height: 50px;
  width: 150px;
  font-size: 18px;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  border: rgb(148, 1, 1) solid 2px;
  margin: 15px auto auto auto;
}

#package:hover {
  background-color: rgb(212, 0, 0);
}

#packages {
  margin: 15px auto auto 15px;
}

#packages li {
  margin: 5px auto 5px auto;
  display: none;
  border: rgb(148, 1, 1) solid 1px;
  border-radius: 10px;
  text-align: left;
  padding-left: 5px;
  background: linear-gradient(to right, white 50%, red 50%);
  background-size: 200% 100%;
  background-position: right;
  opacity: 0;
  transition: background-position 2s ease;
}

#packages li a {
  text-decoration: none;
  color: black;
}

#packages li:hover {
  cursor: pointer;
  background-position: left;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: center;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 30px auto;
  list-style-type: none;
  border: transparent solid 2px;
  border-radius: 20px;
  height: 50px;

}

.social_footer_ul li {
  padding: 10px 10px 10px 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 22.5px;
  height: 20px;
  text-align: center;
}

.footer-text-center {
  color: #999;
  text-align: center;
  font-size: small;
}

/* .social_footer_ul li a:hover{
border-color: #ff0000;
} */

.foote_bottom_ul_amrc li a:hover {
  color: #ff0000;
}
